#panels-dnd-main {
  width: 100%;
  float: left;
}

#panels-dnd-main .panel-col-top {
  clear: both;
  margin-bottom: 6px;
  padding: 3px;
}

#panels-dnd-main .panel-col-left {
  float: left;
  width: 24%;
  padding: 3px;
}

#panels-dnd-main .panel-col-center {
  float: left;
  width: 48%;
  padding: 3px;
}

#panels-dnd-main .panel-col-right {
  float: right;
  width: 24%;
  padding: 3px;
}

#panels-dnd-main .panel-col-bottom {
  margin-bottom: 6px;
  padding: 3px;
  clear: both;
}