/*
  The basics
*/

body {
  background: #c0c0c0;
}

.header,
.page-inner {
  background: #fff;
}

.page-inner {
  padding: 0;
}

.logo {
    left: 90px;
    position: absolute;
    top: 140px;
    z-index: 10;
}


.carousel {
  background-image: url("../images/slidebar.png");
  margin: 0;
  border-bottom: 1px solid #e9e9e9;
}

.carousel .views_slideshow_singleframe_teaser_section {
  height: 199px;
}
