/*
  The basics
*/

body {
  background: #c0c0c0;
}

.header,
#page {
  background: #fff;
}

.header {
  background-image: url("../images/header-background.png");
  background-position: bottom;
  background-repeat: repeat-x;
}

#page {
  background-image: url("../images/page-background.png");
  background-position: top;
  background-repeat: repeat-x;
}

.page-inner {
  background: none;
}

.logo {
    position: absolute;
    z-index: 10;
}

/*
  Carousel
*/

.carousel-region {
  position: relative;
}

.carousel {
  margin: 0;
  background: none;
}

.carousel .views_slideshow_singleframe_teaser_section {
  height: 199px;
}
