/* !----- / Variables & mixins ----- */
@gutterwidth: 10px;
@fieldset-border-color: #e7e7e7;
@fieldset-shadow-color: #f1f1f1;

.drop-shadow(@param) {
  -webkit-box-shadow: @param;
  -moz-box-shadow: @param;
  box-shadow: @param;
}

.border-radius(@param) {
  -webkit-border-radius: @param;
  -moz-border-radius: @param;
  box-border-radius: @param;
}

.rotation(@deg: 5deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  transform: rotate(@deg);
}


/*
  The basics
*/

a:visited,
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


body {
  background: #c0c0c0;
}

.node ul > li {
  list-style: disc;
}

.node ol > li {
  list-style: decimal;
}

.header {
  height: 360px;
}

.header-inner{
  min-height: 135px;
}

.header,
#page {
  background: #fff;
}

.header {
  background-image: url("../images/header-background.png");
  background-position: bottom;
  background-repeat: repeat-x;
}

#page {
  background-image: url("../images/page-background.png");
  background-position: top;
  background-repeat: repeat-x;
}

#content-top {
  margin: 0;
}

.page-inner {
  background: none;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
  width: 122px;
}

#left,
#right {
  overflow: hidden;
}

#main {
  margin-top: 20px;
}

.panel-col-first .panel-pane,
.panel-col-left .panel-pane,
.block {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 100%;
}

.view {
  line-height: 16px;
}

/*
  Main menu
*/

#main-menu {
  top: 91px;
  margin: 0 10px;
}

#main-menu,
#main-menu ul li a {
  background-color: transparent;
  font-size: 120%;
  color: #435800;
  line-height: 44px;
}

#main-menu ul li{
  border-left: 1px solid #e8e8e8;
}

#main-menu ul li.first,
#main-menu ul li.last{
  border-left: none;
  border-right: none;
}

#main-menu ul li a.active,
#main-menu ul li a.active-trail{
  background-image: url("../images/active-menu.png");
  background-position: bottom;
}

#main-menu ul li a:hover{
  background-image: url("../images/active-menu.png");
  background-position: bottom;
}

/*
  Carousel
*/

.carousel-region {
  position: relative;
}

.carousel {
  margin: 0;
  background: none;
  max-width: none;
}

#block-views-Carousel-block_3 {
  margin: 0 10px;
}

.carousel .views_slideshow_singleframe_teaser_section {
  height: 225px;
}

.views_slideshow_singleframe_controls {
  display: block;
}

.carousel .views_slideshow_controls .views_slideshow_previous,
.carousel .views_slideshow_controls .views_slideshow_next {
  background: url("../images/carousel-sprites.png") no-repeat -41px -103px;
  float: none;
  margin: 0;
  position: absolute;
  z-index: 10;
}

.carousel .views_slideshow_controls .views_slideshow_previous {
  left: 0;
}

.carousel .views_slideshow_controls .views_slideshow_next {
  background-position: -43px -23px;
  right: 0;
}

.carousel .views_slideshow_singleframe_pager .pager-item a {
  background: url("../images/carousel-sprites.png") no-repeat scroll -38px -188px transparent;
  height: 25px;
  width: 25px;
  margin: 0px;
}

.carousel .views_slideshow_singleframe_pager .pager-item.activeSlide a {
  background: url("../images/carousel-sprites.png") no-repeat scroll -117px -187px transparent;
  height: 25px;
  width: 25px;
  margin: 0px;
}

.views_slideshow_slide {
   height: 225px;
   width: 960px;
}

.carousel .views-slideshow-controls-bottom {
  display: block;
  float: left;
  left: 10px;
  padding: 0 36px 0 25px;
  position: relative;
  top: -35px;
}

.carousel .views_slideshow_main {
    margin-top: 0px;
}

.carousel .views_slideshow_pagerNumbered,
.carousel .views-slideshow-controls-bottom .before,
.carousel .views-slideshow-controls-bottom .after{
  float: left;
  position: relative;
  margin: 0;
}

.carousel .view-content .content {
  -moz-border-radius: 15px;
  position: absolute;
  top: 20px;
  left: 650px;
  opacity: 0.6;
  border-radius: 15px;
  margin: 0px;
}


/*
  Front page
*/

body.front #page #main #content-bottom .block {
  width: 220px;
}

/*
  Blocks
*/

#page .block {
  font-size: 11px;
}

.node-type-news .panel-col-left .pane-views h2,
.page-nyheder .panel-col-first .pane-views h2,
#page .block-views h2 {
  background: url("../images/item-header.png");
  padding: 12px 10px;
  color: #fff;
  font-weight: normal;
  margin: 0;
  font-size: 165%;
}

#page .block .content h3 {
  margin: 0px;
}

#page .block .content .date {
  font-style: italic;
  margin: 0px;
}

/*
  Quotes
*/


#page .nodespotbox .view-id-spotboxes.view-display-id-block_1 .quote-content {
  padding: 8px;
  font-weight:bold;
  color: #88b109;
  display: block;
  float: left;
  .drop-shadow(1px 1px 1px 1px rgba(0, 0, 0, 0.2));
  border: 2px solid #88b109;
  .border-radius(10px);
   margin: 20px;
}

#page .nodespotbox .view-id-spotboxes.view-display-id-block_1 .quote-bubble {
  display: block;
  position: relative;
  float: left;
  clear: both;
}

#page .nodespotbox .view-id-spotboxes.view-display-id-block_1 .quote-content .author {
  float: right;
  padding: 8px;
}

#page .nodespotbox .view-id-spotboxes.view-display-id-block_1 {

  
}

.quotetab-border {
  border-color: #88b109 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:relative;
  left:50px;
  margin-top: -20px;
}

.quotetab {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:relative;
  bottom: 3px;
  left:50px;
  margin-top: -20px;
}

#page .grid-9 .nodespotbox .view-id-spotboxes.view-display-id-block_1 .quote-content,
#page .grid-12 .nodespotbox .view-id-spotboxes.view-display-id-block_1 .quote-content {
  font-size: 150%;
  padding: 25px;
}

#page .grid-9 .nodespotbox .view-id-spotboxes.view-display-id-block_1,
#page .grid-12 .nodespotbox .view-id-spotboxes.view-display-id-block_1 {
  margin-left: 90px;
  margin-right: 90px;
}

#page .grid-9 .nodespotbox .quotetab-border,
#page .grid-12 .nodespotbox .quotetab-border {
  left:150px;
}

#page .grid-9 .nodespotbox .quotetab,
#page .grid-12 .nodespotbox .quotetab {
  left:150px;
}

/*
  Submenu
*/

#page #left .block-menu_block .content {
  background: none;
  border-bottom: 1px solid #ebebeb;
}

#left .menu {
  font-size: 100%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

#left .menu ul {
  margin: 0;
  padding: 0;
}

#left .menu li {
  line-height: 26px;
  margin: 0;
  padding: 0;
}

#left .menu a {
  background: url('../images/arrow.png') no-repeat 13px 12px;
  color: #6a8c02;
  display: block;
  padding: 2px 0 3px 28px;
  text-decoration: none;
}

#left .menu li.expanded a.active-trail {
  background-image: url("../images/arrow-active.png");
  color: #3c5000;
}

#left .menu li.expanded a.active {
  background-image: url("../images/arrow.png");
}

#left .menu a.active {
  color: #3c5000;
}

#left .menu a,
#left .menu a:link,
#left .menu a:visited {
  text-decoration: none;
}

#left .menu a:hover {
  text-decoration: none;
  color: inherit;
}

#left .menu li.first {
  border-top: 0;
}

#left .menu li.first a {
  border-top: 0;
}

#left .menu li {
  background: transparent;
  border-top: 1px solid #ebebeb;
  list-style: none;
  list-style-image: none;
}

#left .menu li.first.active-trail.active,
#left .menu li li.first {
  border-top: 1px solid #ebebeb;
}

#left .menu li.first.active-trail.active a,
#left .menu li li.first a,
#left .menu li a {
  border-top: 1px solid #fafafa;
}

#left .menu li a:hover {
  background-color: #f8f8f8;
}

#left .menu li.active {
  background: #f3f3f3 url('../images/menu-shadow.png') repeat-x 0 0;
}

/*
  Submenu level 1
*/

#left .menu li.active li {
  margin: 0;
}

#left .menu li li.active {
  background: #f3f3f3 url('../images/menu-shadow.png') repeat-x 0 0;
  margin: 0;
}

#left .menu li li a.active {
  background-color: transparent;
}

#left .menu li li a {
  background-color: #fff;
  background-position: 28px 13px;
  margin: 0;
  padding: 3px 0 3px 43px;
}

/*
  Submenu level 2
*/


#left .menu li li li a {
  background-position: 48px 13px;
  margin: 0;
  padding: 3px 0 3px 63px;
}

/*
  Submenu level 3
*/

#left .menu li li li li a {
  background-position: 68px 13px;
  margin: 0;
  padding: 3px 0 3px 83px;
}

/*
  Sitemap
*/

#site-map .content a {
  padding-left: 30px;
  font-weight: normal;
  background: url("../images/arrow.png") no-repeat scroll 14px 4px transparent;
  color: #6d8c02;
}

#site-map .content a:hover {
  text-decoration: underline;
  color: #6d8c02;
}

#site-map .content a:visited {
color: #3C5000;
}

/*
  Spotboxes
*/

.nodespotbox {
  overflow: hidden;
}

.view-aktiviteter .view-footer .link,
.node-type-news .panel-col-left .link,
.page-nyheder .panel-col-first .link,
#block-views-news-block_1 .link,
.view-Kalender .link,
.nodespotbox .link {
  margin: 0 8px 8px;
  text-align: right;
}

.nodespotbox .content-wrapper .link a:link,
.nodespotbox .content-wrapper .link a:visited,
.nodespotbox .content-wrapper .link a:hover {
  font-weight: normal;
  background: url("../images/arrow.png") no-repeat scroll 14px 7px transparent;
  color: #6d8c02;
  padding-left: 30px;
  text-decoration: none;
}

.nodespotbox .link a,
.view-aktiviteter .view-footer .link a,
.node-type-news .panel-col-left .link a,
.page-nyheder .panel-col-first .link a,
.view-Kalender .link a,
#block-views-news-block_1 .link a,
.view-Kalender .link a:link {
  background: url("../images/arrow.png") no-repeat scroll 14px 4px transparent;
  padding-left: 30px;
}

.view-aktiviteter .view-footer .link a:visited,
.nodespotbox .content-wrapper .link a:visited,
.view-Kalender .link a:visited {
  color: #3C5000;
}

.view-aktiviteter .view-footer .link a:hover,
.nodespotbox .content-wrapper .link a:hover,
.view-Kalender .link a:hover {
  text-decoration: underline;
}


.nodespotbox h3{
  background: #a8d100 url("../images/item-header.png") no-repeat;
  color: #fff;
  font-weight: normal;
  margin: 0;
}

.nodespotbox h3 a,
.nodespotbox h3 a:link,
.nodespotbox h3 a:visited,
.nodespotbox h3 a:hover{
  color: #fff;
  font-weight: normal;
}

.nodespotbox .spotbox-content,
.nodespotbox .content-wrapper {
  background: #fff url("../images/box-shadow-long.png") top center repeat-x;
  padding: 0;
}

.nodespotbox .image {
  margin: 0;
  overflow: hidden;
}

.nodespotbox .image img {
  margin-left: auto;
  margin-right: auto;
}

.nodespotbox .content-wrapper .link {
  margin: 10px 10px 0 0;
}

.panel-pane .view-content,
.panel-display .view-content,
.nodespotbox .content,
#page .block-views .content {
  padding: 8px;
}

.nodespotbox.grid-3 .image img, .nodespotbox.grid-3 .image a img {
  margin: 0;
}

/*No header spotbox*/

.nodespotbox .no-header .content-wrapper {
  padding: 0;
}


.nodespotbox .no-header .content-wrapper,
.nodespotbox .no-header .content-wrapper .content,
#page .nodespotbox .no-header .content-wrapper .content {
  background: none transparent;
}

.nodespotbox .no-header .content-wrapper .content {
  padding: 0;
  overflow: hidden;
  position: relative;
}

.nodespotbox .no-header .image {
  position: absolute;
  margin: 0;
}

.nodespotbox.grid-12 .no-header .image {
  width: 940px;
}

.nodespotbox.grid-9 .no-header .image {
  width: 700px;
}

.nodespotbox.grid-6 .no-header .image {
  width: 460px;
}

.nodespotbox.grid-4 .no-header .image {
  width: 300px;
}

.nodespotbox.grid-3 .no-header .image {
  width: 220px;
}

.nodespotbox.grid-2 .no-header .image {
  width: 140px;
}

/*
  Secondary content
*/

.secondary-content{
  background-color: #fff;
  border-top: 1px #eaf2ac solid;
  border-bottom: 1px #eaf2ac solid;
}

/*
  Footer
*/

#footer {
  background-color: #fff;
}

/*
  Kalender
*/

#page #block-views-Kalender-calendar_block_1 h2 {
  background: url('../images/box-header-black.png') no-repeat;
}

#content .view-Kalender,
#page #block-views-Kalender-calendar_block_1 .content {
  background: url('../images/calendar-background.png') repeat-x;
  padding: 10px;
}

#content .view-Kalender thead,
#page #block-views-Kalender-calendar_block_1 .content thead {
  background-color: #bae02b;
  height: 30px;
  border: none;
}

#content .view-Kalender thead th,
#page #block-views-Kalender-calendar_block_1 .content thead th {
  border: none;
  padding: 0 4px;
}

#content .view-Kalender tbody,
#page #block-views-Kalender-calendar_block_1 .content tbody {
  background: #fff;
}

#content .view-Kalender .day-view tbody tr td.calendar-agenda-items .view-item-Kalender .item-line,
#page #block-views-Kalender-calendar_block_1 .content tbody tr td.calendar-agenda-items .view-item-Kalender .item-line {
  width: 75%;
  float: left;
}

#content .view-Kalender .day-view tbody tr td.calendar-agenda-items .view-item-Kalender .item-line:hover,
#page #block-views-Kalender-calendar_block_1 .content tbody tr td.calendar-agenda-items .view-item-Kalender .item-line:hover {
  background-color: #bae02b;
}

#content .view-Kalender .day-view .date-display-start {
  text-align: right;
}

#content .view-Kalender .day-view .date-display-end {
  text-align:left;
}

#content .view-Kalender .week-view .view-label-node-data-field-date-field-date-value {
  float:left;
  text-align: right;
}
#content .view-Kalender .week-view .calendar-agenda-hour {
  display: none;
}

#content .view-Kalender .week-view td.calendar-agenda-items {
  width: 12%;
  overflow: hidden;
}

#content .view-Kalender .month-view td:hover {
  background-color: #bae02b;
}

#content .view-Kalender .month-view td.week {
  background: url("/sites/all/themes/replicator/images/back-groove-content.png") repeat-x scroll left bottom transparent;
}
#content .view-Kalender .month-view td.week:hover {
  background-color: transparent;
}

#content .view-Kalender .attachment .month-view a {
  text-decoration: underline;
}

#content .view-Kalender .week-view td.calendar-agenda-items a{
  display: block;
}

#content .view-Kalender .month-view .view-item-Kalender {
  display: none;
}

#content .view-Kalender .week-view td .view-field,
#content .view-Kalender .week-view  .week.day,
#content .view-Kalender th.days,
#content .view-Kalender .month-view .month.day {
  text-align: center;
}

#content .view-Kalender .month-view .month.day a {
  display: block;
}

#content .view-Kalender .week-view td.calendar-agenda-items .view-item:hover{
    background-color: #bae02b;
}

#block-views-Kalender-calendar_block_1 .view-header {
  padding: 5px;
}

#content .view-Kalender .view-content a,
#content .view-Kalender .attachment a,
#block-views-Kalender-calendar_block_1 .view-header .format-change a {
  text-decoration: none;
}

#content .view-Kalender .view-content .date-nav,
#block-views-Kalender-calendar_block_1 .view-content .date-nav {
  float: left;
  width: 80%;
}

#block-views-Kalender-calendar_block_1 .view-content .calendar-link,
.view-aktiviteter .calendar-link {
  background: url('../images/calendar-icon.jpg') no-repeat;
  height: 17px;
  text-indent: -9999px;
  width: 22px;
  float: left;
  margin-left: 8px;
}

#block-views-Kalender-calendar_block_1 .view-content .calendar-link a,
.view-aktiviteter .calendar-link a{
  display: block;
  outline: 0;
}

#content .view-Kalender .view-filters,
#page #block-views-Kalender-calendar_block_1 .view-filters {
  float: right;
  width: 47%;
  padding: 1%;
  height: 31px;
  background: url('../images/calendar-top-bg.png') repeat-x;
}


#content .view-Kalender .view-filters .views-exposed-form,
#page #block-views-Kalender-calendar_block_1 .view-filters .views-exposed-form {
  float: right;
}

#content .view-Kalender .view-filters .views-exposed-form .views-widget,
#page #block-views-Kalender-calendar_block_1 .view-filters .views-exposed-form .views-widget {
  float: left;
}

#content .view-Kalender .view-filters .views-exposed-form .views-widget {
  width: 50px;
}

#content .view-Kalender .view-filters .views-exposed-form label,
#content .view-Kalender .view-filters .views-exposed-form .form-submit,
#page #block-views-Kalender-calendar_block_1 .view-filters .views-exposed-form label,
#page #block-views-Kalender-calendar_block_1 .view-filters .views-exposed-form .form-submit {
  padding-right: 5px;
  margin: 0;
}

#content .view-Kalender .view-filters .views-exposed-form .views-exposed-widgets,
#content .view-Kalender .view-filters .views-exposed-form .views-exposed-widget,
#page #block-views-Kalender-calendar_block_1 .view-filters .views-exposed-form .views-exposed-widgets,
#page #block-views-Kalender-calendar_block_1 .view-filters .views-exposed-form .views-exposed-widget {
  margin: 0;
  padding: 0 1px ;
}

.view-Kalender .view-filters .views-exposed-form .views-exposed-widgets .views-widget select#edit-tid {
  width: 110px;
}

#content .view-Kalender .view-content,
#page #block-views-Kalender-calendar_block_1 .view-content {
  float: left;
  width: 49%;
  padding: 1%;
  height: 31px;
  background: url('../images/calendar-top-bg.png') repeat-x;
}

#content .view-Kalender .view-content .calendar-calendar,
#page #block-views-Kalender-calendar_block_1 .view-content .calendar-calendar {
  background: none;
}

#content .view-Kalender .attachment,
#page #block-views-Kalender-calendar_block_1 .attachment {
  clear: both;
}

.calendar-line span {
  float:left;
  width: 25%;
  text-align: center;
}

.calendar-line .item-line span {
  width:33%;
}

.calendar-line span .date-display-single {
  width: 100%;
}

.calendar-line .date-display-single span{
  width: 45%;
}

.calendar-line .date-display-single span.date-display-separator {
  width: 10%;
}

.calendar-line span a {
  display: block;
  text-decoration: none;
  outline: 0;
}

.date-nav a{
  text-decoration: none;
}
#content .view-Kalender .view-content .date-heading h3,
#block-views-Kalender-calendar_block_1 .date-heading h3 {
  font-size: 95%;
}

#content .view-Kalender ul.links {
  display: none;
}

.view-Kalender .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0px;
}

.view-Kalender .views-exposed-form {
  height: 25px;
}


.view-Kalender .views-exposed-form .views-exposed-widget label {
  float:left;
}

/*Calendar for the small blocks*/

#page .grid-4 #block-views-Kalender-calendar_block_1 .view-filters,
#page .grid-3 #block-views-Kalender-calendar_block_1 .view-filters{
  width: 76%;
}

#page .grid-4 #block-views-Kalender-calendar_block_1 .view-content,
#page .grid-3 #block-views-Kalender-calendar_block_1 .view-content{
  width: 20%;
}

#page .grid-4 #block-views-Kalender-calendar_block_1 .view-content .calendar-link,
#page .grid-3 #block-views-Kalender-calendar_block_1 .view-content .calendar-link,
#page .grid-4 #block-views-Kalender-calendar_block_1 .view-content .date-prev,
#page .grid-3 #block-views-Kalender-calendar_block_1 .view-content .date-prev,
#page .grid-4 #block-views-Kalender-calendar_block_1 .view-content .date-next,
#page .grid-3 #block-views-Kalender-calendar_block_1 .view-content .date-next {
  display: none;
}

#page .grid-4 #block-views-Kalender-calendar_block_1 .view-content h3,
#page .grid-3 #block-views-Kalender-calendar_block_1 .view-content h3{
  font-size: 110%;
}

#page .grid-4 #block-views-Kalender-calendar_block_1 .view-content .date-heading,
#page .grid-3 #block-views-Kalender-calendar_block_1 .view-content .date-heading{
  width: 100%;
}

#page .grid-6 .view-Kalender .view-content .date-next,
#page .grid-6 #block-views-Kalender-calendar_block_1 .view-content .date-next {
  width: 24%;
}

#page .grid-6 .view-Kalender .view-content .date-heading,
#page .grid-6 #block-views-Kalender-calendar_block_1 .view-content .date-heading {
  width: 43%;
}

#page .grid-6 .view-Kalender .view-content .date-prev,
#page .grid-6 #block-views-Kalender-calendar_block_1 .view-content .date-prev {
  width: 33%;
}

#page .grid-6 .view-Kalender .view-content .calendar-link,
#page .grid-6 #block-views-Kalender-calendar_block_1 .view-content .calendar-link {
  margin-left: 12px;
}

/*
  Video
*/

/* Spotbox sizes */

.front #main .videospotbox iframe {
  width: 220px;
  height: 195px;
}

.front #right.grid-6 .videospotbox iframe{
  width: 440px;
  height: 278px;
  padding: 10px;
}

.not-front #page .grid-3 .nodespotbox .videospotbox iframe{
  width: 220px;
  height: 195px;
}

.front #main .videospotbox .content-wrapper,
.not-front #page .grid-3 .nodespotbox .videospotbox .content-wrapper {
  padding: 0;
}

.not-front #page .grid-4 .nodespotbox .videospotbox iframe{
  width: 280px;
  height: 199px;
  padding: 10px;
}

.not-front #page .grid-6 .nodespotbox .videospotbox iframe{
  width: 440px;
  height: 278px;
  padding: 10px;
}

.not-front #page .grid-9 .nodespotbox .videospotbox iframe{
  width: 680px;
  height: 413px;
  padding: 10px;
}

/*Node view sizes*/

body.node-type-video-spotbox #page .grid-6 .content iframe{
  width: 444px;
  height: 280px;
}

body.node-type-video-spotbox #page .grid-9 .content iframe{
  width: 684px;
  height: 415px;
}

/*
  News
*/

.node-type-news #content .news-block-archive .news-listimage,
.block-views .news-block-archive .news-listimage,
.page-nyheder #content .news-block-archive .news-listimage {
  float: left;
  padding: 5px;
}

#block-views-aktiviteter-block_1,
#block-views-aktiviteter-block_2,
#block-views-news-block_1,
.node-type-news #content .news-block-archive,
.page-nyheder #content .panel-col-first .view-news {
  background: url("../images/box-shadow-long.png") top center repeat-x;
}

#content .panel-pane .view-empty {
  padding: 8px;
}

.node-type-news #content .news-block-archive .view-content li,
.page-nyheder #content .news-block-archive .view-content li,
#page #block-views-news-block_1 .content li {
  margin-bottom: 12px;
  min-height: 75px;
}

/*News pages*/

.node-type-news .panel-col-left,
.page-nyheder .panel-col-first {
  width: 32%;
  margin: 0px;
}

.node-type-news .panel-col-right,
.page-nyheder .panel-col-last {
  width: 68%;
  margin: 0px;
}

.node-type-news #content .news-block-archive .date,
.page-nyheder #content .news-block-archive .date {
    font-style: italic;
    margin: 0;
}

.node-type-news #content .news-block-archive h3,
.page-nyheder #content .news-block-archive h3 {
  margin: 0;
}

.pane-field-news-titleimage {
  margin: 5px;
}

#page #block-views-aktiviteter-block_2 h2,
.archive-list h2 {
  background: url('../images/box-header-black.png') no-repeat;
  color: #FFFFFF;
  font-weight: normal;
  margin: 0;
  padding: 12px 10px;
  font-size: 165%;
}

.archive-list .view-content {
  background: url("/sites/all/themes/globus1/images/box-shadow-short.png") repeat-x;
  min-height: 60px;
}

.archive-list .view-content ul li{
  list-style: none;
}

.archive-list .view-content ul li a{
  padding-left: 30px;
  font-weight: normal;
  background: url("../images/arrow.png") no-repeat scroll 14px 4px transparent;
  color: #6d8c02;
}

.page-nyheder .news-image {
  background: #fff;
  .drop-shadow(0 1px 2px rgba(0,0,0,0.2));
  .rotation(-0.7deg);
  padding: 8px;
  margin-left: -6px;
}

.pane-field-news-titleimage img {
    display: block;
  }

.page-nyheder .news-content{
    padding-top: 8px;
}

.page-nyheder #news-front .panel-col-last .date {
  margin-top: 8px;
  padding: 9px 8px 8px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.date {
  font-style: italic;
  padding: 4px;
}

/*
  Bannere
*/

.block-banner .item-list .views-row-first {
  list-style: none;
  float: left;
  padding: 15px 30px;
  margin: 0;
}

.block-banner .item-list .views-row-last {
  list-style: none;
  float: right;
  padding: 15px 30px;
  margin: 0;
}

/*
  Aktiviteter
*/

.view-aktiviteter h3 a:link {
  font-weight: bold;
  color: #6d8c02;
  text-decoration: none;
}

.view-aktiviteter h3 a:hover{
  text-decoration: underline;
}

.view-aktiviteter h3 a:visited{
  color: #3C5000;
}

.view-aktiviteter .event-header {
  float:left;
  padding-right: 20px;
  font-size: 110%;
  font-weight: bold;
}

.view-aktiviteter .views-field-field-date-value {
  clear:both;
  float:left;
}

.view-aktiviteter .view-content .views-field-teaser {
  padding: 6px 0;
  clear: both;
}

.view-aktiviteter .view-content .views-field-field-date-value {
  padding: 0 0 6px 0;
  clear: both;
}

.view-aktiviteter .view-content .views-field-body {
  padding: 0 0 6px 0;
  clear: both;
}

.views-field-field-date-value span {
  font-style: italic;
}

.view-aktiviteter .view-footer {
  clear:both;
}

#block-views-aktiviteter-block_2 h2 {
  font-size: 165%;
}

.afholdte-aktiviteter .row {
  clear: both;
  float: left;
}

.not-front #block-views-aktiviteter-block_1.grid-6,
.not-front #block-views-aktiviteter-block_1.grid-6 h2{
  padding: 6px;
  background: none;
  color: #000;
}

/*
  Billede Galleri
*/

.node-type-event #content-bottom #block-views-image_display-block_1 {
  margin-top: 0;
}

.node-type-event #content-bottom .view-content .field-item {
  float: left;
  padding: 4px;
}

.node-type-event #content-bottom .view-content .field-item img {
  border: 1px solid #000;
}

#page #block-views-image_display-block_1 .content {
  padding: 5px;
}

.field-field-image-gallery .field-item {
  float: left;
  padding: 4px 4px 4px 0;
}

.node .content .field-field-image-gallery .field-item a:link {
  float: left;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.node .content .field-field-image-gallery .field-item a:hover {
  margin-bottom: -1px;
}

/*
  Shadowbox
*/

#sb-overlay {
  cursor: pointer;
}

#sb-nav-label,
#sb-nav-close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 0;
  padding-right:5px;
}

#sb-counter {
  font-weight: bold;
  padding-left: 4px;
}

#sb-nav-label {
  color: #fff;
  font-weight: bold;
  line-height: 115%;
  right: 20px;
}

#sb-nav-close {
  height: 13px;
  width: 13px;
}

#sb-wrapper {
  background-color: #000;
}

#sb-title-inner {
  font-weight: bold;
  font-size: 100%;
  padding-left: 4px;
}

/*
  Languages
*/

#block-views-languages-block_1 {
  float:right;
  margin-right: 10px;
}

#block-views-languages-block_1 .form-select {
  width: 150px;
}

#block-menu-secondary-links {
  position: relative;
  float: right;
  margin-right: 10px;
  top: 0;
  right: 0;
}

#main-menu .menu-mlid-1674 {
  display: none;
}

/*
  Footer
*/

#footer .grid-3{
  width: 960px;
}

#footer .content {
  text-align: center;
}