html {
  height: 100%; /* Important for 100% body height*/
}

body {
  background-color: #e9e9e9;
  color: #333;
  font-family: arial, verdana, sans-serif;
  font-size: 100%;
  min-height: 100%;
  line-height: 1.125em;
}

h1 {
  font-size: 200%;
  line-height: 150%;
  margin: 0 0 15px;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

/*
  Links
*/

a,
a:link {
  color: #00959a;
}

a:visited {
  color: #8931bb;
}

a:hover,
a:focus {
  color: #006467;
}

a:active {
  color: #47a9ac;
}

/*
  AAK topbar
*/

.aak-topbar {
  background: url('../images/aak-topbar/aak-topbar-bg.png') repeat-x;
  font-size: 75%;
  height: 75px;
}

.aak-topbar .aak-topbar-inner {
  position: relative;
}

.aak-topbar a.aak-logo {
  display: block;
  float: left;
  margin: 11px 0 0 12px;
  width: 101px;
}

.aak-topbar a.aak-link {
  color: #333;
  float: right;
  margin: 32px 12px 0 0;
  position: relative;
  text-decoration: none;
}

.aak-topbar a.aak-link:hover {
  text-decoration: underline;
}

.header {
  background-color: #f5f5f5;
  border-top: 1px solid #e9e9e9;
}

.header-inner {
  min-height: 130px;
  position: relative;
}

.logo {
  left: 35px;
  position: absolute;
  top: 35px;
}

/*
  Breadcrumb
*/

.breadcrumb {
  background-color: #fff;
  color: #000;
  font-size: 70%;
  padding: 15px 0 0 10px;
}

.breadcrumb a,
.breadcrumb a:link {
  color: #666;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
  color: #000;
  text-decoration: none;
}

.breadcrumb a:active {
  color: #333;
}

.breadcrumb .breadcrumb-sep {
  margin: 0 5px;
}

/*
  Font size
*/

#main {
  font-size: 0.875em;
}

#left,
#right {
  font-size: 0.75em;
}

/*
  Menu styling
*/

.menu-block ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-block ul li a {
  background-color: #666;
  color: #fff;
  display: block;
  font-size: 75%;
  line-height: 275%;
  padding: 0 15px;
  text-decoration: none;
}

.menu-block ul li a.active {
  background-color: #cbcbcb;
  color: #333;
}

.menu-block ul li a:hover,
.menu-block ul li a:focus {
  background-color: #767676;
  color: #fff;
}

.menu-block ul li a:active {
  background-color: #767676;
  color: #fff;
}

#main-menu {
  background-color: #666;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

/*
  Secondary menu
*/

#block-menu-secondary-links {
  top: 15px;
  right: 10px;
  position: absolute;

}

#block-menu-secondary-links ul li {
  background: url('../images/rep-sprites.png') right -237px no-repeat;
  list-style: none;
  float: left;
}

#block-menu-secondary-links ul li.last {
  background: none;
}

#block-menu-secondary-links ul li a {
  color: #999;
  display: block;
  font-size: 70%;
  text-decoration: none;
}

#block-menu-secondary-links ul li a:hover {
  color: #666;
}

/*
  Submenu
*/

#left .menu {

}

#left .menu li {
  list-style-image: none;
  list-style-type: none;
}


#left .menu li.active-trail {
  font-weight: bold;
}

#left .menu a:hover,
#left .menu a:focus {
  color: #47a9ac;
}

#left .menu .first {
}

#left .menu .last {
}

#left .menu a {
  text-decoration: none;
  color: #666;
  background: url('../images/rep-sprites.png') -6px -21px no-repeat;
  padding: 0 16px 2px;
}

#left .menu a.active {
  color: #47a9ac;
}

#left .menu ul {
}

#left .menu li {
  font-weight: normal;
}

#left .menu li ul {
}

#left .menu li li {
}

/*
  Page
*/

.page-inner {
  background-color: #fff;
  overflow: hidden;
  padding: 10px 0;
}

/*
  Content
*/

#content-top,
#content-bottom {
  overflow: auto;
}

/*
  MailChimp
*/

.block-mailchimp {
  margin: 0 0 20px;
}

.block-mailchimp h2 {
  background-color: #d2d2d2;
  line-height: 200%;
  padding: 0 0 0 10px;
}

.block-mailchimp .content {
  background-color: #d2d2d2;
  overflow: hidden;
  padding: 0 10px 20px;
}

.block-mailchimp .content .form-item {
  margin: 0 0 10px;
}

.block-mailchimp .content .form-item .form-checkbox {
  float: left;
  margin: 3px 5px 0;
}

.block-mailchimp .content .form-item .form-text {
  width: 98%;
}

.block-mailchimp .content .form-submit {
  float: right;
}

/*
  Spotboxes
*/

.nodespotbox {
  margin: 0 0 20px;
  overflow: hidden;
}

#content-top .nodespotbox,
#content-bottom .nodespotbox {
  margin: 0 10px 20px 0;
}

.nodespotbox h3 {
  background-color: #d2d2d2;
  line-height: 200%;
  padding: 0;
}

.nodespotbox h3.nolink,
.nodespotbox h3 a {
  display: block;
  padding: 0 0 0 10px;
}

.nodespotbox h3 a,
.nodespotbox h3 a:link,
.nodespotbox h3 a:visited,
.nodespotbox h3 a:hover,
.nodespotbox h3 a:active {
  color: #000;
  text-decoration: none;
}

.nodespotbox .image a {
  display: block;
}

/*
  If it is a small spotbox center the image
*/

.nodespotbox .image img,
.nodespotbox .image a img {
  display: block;
  margin: 0 0 0 -40px;
}

.nodespotbox .content-wrapper {
  background-color: #d2d2d2;
  padding: 20px 10px;
}

.nodespotbox .content-wrapper .link {
  margin: 10px 0 0;
  text-align: right;
}

.nodespotbox .content-wrapper .link a,
.nodespotbox .content-wrapper .link a:link {
  background: url('../images/rep-sprites.png') 0 -175px no-repeat;
  color: #00959a;
  font-weight: bold;
  padding: 3px 0 3px 27px;
  text-align: right;
  text-decoration: none;
}

.nodespotbox .content-wrapper .link a:visited {
  background-position: 0 -98px;
  color: #8931bb;
}

.nodespotbox .content-wrapper .link a:hover {
  background-position: 0 -175px;
  color: #006467;
  text-decoration: underline;
}

.nodespotbox .content-wrapper .link a:active {
  background-position: 0 -175px;
  color: #47a9ac;
}

/*
  Footer menus
*/

#footer{
  background: #999999;
  display: block;
  font-size: 75%;
}

#footer .block-menu{
  background: #999999;
  margin-top: 15px;
  margin-bottom: 15px;
}

#footer .block-menu h2{
  padding: 5px;
}

#footer .block-menu li{
  list-style-image: none;
  list-style-type: none;
}

/*
  Comments
*/
.comment{
  padding: 15px;
}

.submitted{
  font-size: 75%;
}

.comment_add{
  float:right;
}

/*
  Carousel
*/

#block-views-Carousel-block_3{
  clear: both;
}

.carousel{
  background: #d2d2d2;
  /*max-height: 250px;*/
  overflow: hidden;
  max-width: 620px;
}

.carousel .view-content .content{
  margin-top: -240px;
  padding: 8px;
  width: 270px;
  position: relative;
  z-index: 1;
  background: #d2d2d2;
  max-height: 125px;
  overflow: hidden;
  display: block;
}

.carousel .view-content .content a{
  color: #333;
  outline: none;
}


.carousel .views_slideshow_singleframe_teaser_section{
  height: 218px;
}

.views_slideshow_slide{
   margin-left: auto;
   margin-right: auto;
   display: block;
}


.carousel .views_slideshow_controls .views_slideshow_previous {
    background: url("/sites/all/themes/replicator/images/carousel-sprites.png") no-repeat scroll -28px -89px transparent;
    display: block;
    height: 36px;
    outline: 0 none;
    text-indent: -9999px;
    width: 35px;
    z-index: 5;
    float: left;
    position: relative;
    margin: 8px;
    margin-top: 180px;
}

.carousel .views_slideshow_controls .views_slideshow_next {
    background: url("/sites/all/themes/replicator/images/carousel-sprites.png") no-repeat scroll -28px -18px transparent;
    display: block;
    height: 36px;
    outline: 0 none;
    text-indent: -9999px;
    width: 35px;
    z-index: 5;
    float: right;
    position: relative;
    margin: 8px;
    margin-top: 180px;
}

.carousel .views_slideshow_controls .views_slideshow_pause {
    text-indent: -9999px;
    display: none;
  }

.carousel .views_slideshow_main{
  margin-top: -224px;
}

.carousel .views_slideshow_singleframe_pager .pager-item a {
    -moz-border-radius: 10px 10px 10px 10px;
    background-color: #1c1c1c;
    display: block;
    float: left;
    height: 12px;
    margin: 10px 10px 10px 0;
    text-indent: -9999px;
    width: 12px;
    outline: 0 none;
}

.carousel .views_slideshow_singleframe_pager .pager-item.activeSlide a{
  -moz-border-radius: 10px 10px 10px 10px;
  background-color: #9e9e9e;
  display: block;
  float: left;
  height: 12px;
  margin: 10px 10px 10px 0;
  text-indent: -9999px;
  width: 12px;
  }

.carousel .views-slideshow-controls-bottom{
  display: block;
  text-align: center;
  position: relative;
}

.carousel .views_slideshow_pagerNumbered{
  display: inline-block;
  margin: -18px auto 0;
  z-index: 50;
  position: relative;
}

/*
  Messages
*/

.messages ul {
  list-style: none;
  margin: 0;
}

div.messages, /* Important messages (status, warning, and error) for the user */
div.status,
div.warning,
div.error {
  clear: both;
  min-height: 21px;
  margin: 10px 0;
  border: 1px solid #f8fffc;
  padding: 10px 12px;
  color: #668877;
  background-color: #ecf8f4;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

div.warning {
  color: #aa8844;
  background: #fff4c0;
  border-color:#fffce4;
}

div.error {
  color: #996655;
  background: #ffe4e0;
  border-color: #fff8f4;
}

div.status {
  color: #668877;
  background: #ecf8f4;
  border-color: #d8e4e0;
}

/*
  Site map
*/

#site-map .site-map-box{
  margin-bottom: 50px;
  padding: 8px;
}

#site-map .site-map-box .title{
  display: none;
}

#site-map .site-map-menu li {
  list-style-image: none;
  list-style-type: none;
}

#site-map .site-map-menu a:hover,
#site-map .site-map-menu a:focus {
  color: #47a9ac;
}

#site-map .site-map-menu a {
  text-decoration: none;
  color: #666;
  background: url('../images/rep-sprites.png') -6px -21px no-repeat;
  padding: 0 16px 2px;
}
