/*
  MailChimp
*/

.block-mailchimp .content .form-item .form-checkbox {
  float: none;
  margin: 0;
}

/*
  Carousel
*/

.carousel .views-slideshow-controls-bottom {
  float: left;
}

input.form-checkbox,
input.form-radio {
  margin: -1px 3px 0 0;
}

fieldset {
  position: fixed;
}

fieldset,
html.js fieldset.collapsed {
  height: auto;
}

fieldset,
fieldset legend,
html.js fieldset.collapsed {
  background-color: transparent;
}

.header .block-search {
  width: 186px;
}

.header .block-search input[type=text] {
  float: left;
}

.header .block-search input[type=submit] {
  background-position: 4px -302px;
}

#search-form input[type=submit] {
  background-position: 10px -297px;
  height: 30px;
  margin: 1px 0 0;
}

.pane-field-news-titleimage {
  border: 1px solid #ddd;
  padding: 7px;
}

/*
  Make sure footer blocks behave correctly when
  there is a collapsible fieldset or similiar above
*/
#footer .block {
  position: static;
}