/*
  MailChimp
*/

.block-mailchimp .content .form-item .form-checkbox {
  float: none;
  margin: 0;
}

/*
  Carousel
*/

.carousel .views-slideshow-controls-bottom{
  float: left;
}

input.form-checkbox,
input.form-radio {
  margin: -1px 3px 0 0;
}