html {
  height: 100%; /* Important for 100% body height*/
}

body {
  background-color: #e9e9e9;
  color: #333;
  font-family: arial, verdana, sans-serif;
  font-size: 100%;
  min-height: 100%;
  line-height: 1.125em;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

/*
  Links
*/

a,
a:link {
  color: #00959a;
}

a:visited {
  color: #8931bb;
}

a:hover,
a:focus {
  color: #006467;
}

a:active {
  color: #47a9ac;
}

/*
  AAK topbar
*/

.aak-topbar {
  background: url(../images/aak-topbar/aak-topbar-bg.png) repeat-x;
  font-size: 75%;
  height: 75px;
}

.aak-topbar .aak-topbar-inner {
  position: relative;
}

.aak-topbar a.aak-logo {
  display: block;
  float: left;
  margin: 11px 0 0 12px;
  width: 101px;
}

.aak-topbar a.aak-link {
  color: #333;
  float: right;
  margin: 32px 12px 0 0;
  position: relative;
  text-decoration: none;
}

.aak-topbar a.aak-link:hover {
  text-decoration: underline;
}

.header {
  background-color: #f5f5f5;
  border-top: 1px solid #e9e9e9;
}

.header-inner {
  min-height: 130px;
  position: relative;
}

.logo {
  left: 35px;
  position: absolute;
  top: 35px;
}

/*
  Breadcrumb
*/

.breadcrumb {
  background-color: #fff;
  color: #000;
  font-size: 70%;
  padding: 15px 0 0 10px;
}

.breadcrumb a,
.breadcrumb a:link {
  color: #666;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
  color: #000;
  text-decoration: none;
}

.breadcrumb a:active {
  color: #333;
}

.breadcrumb .breadcrumb-sep {
  margin: 0 5px;
}

/*
  Font size
*/

#main {
  font-size: 0.875em;
}

#left,
#right {
  font-size: 0.75em;
}

/*
  Menu styling
*/

.menu-block ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-block ul li a {
  background-color: #666;
  color: #fff;
  display: block;
  font-size: 75%;
  line-height: 275%;
  padding: 0 15px;
  text-decoration: none;
}

.menu-block ul li a:visited {
  background-color: #666;
  color: #fff;
}

.menu-block ul li a:hover,
.menu-block ul li a:focus {
  background-color: #cbcbcb;
  color: #333;
}

.menu-block ul li a:active {
  background-color: #767676;
  color: #fff;
}

#main-menu {
  background-color: #666;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

/*
  Secondary menu
*/

#block-menu-secondary-links{
  top: 35px;
  right: 10px;
  position: absolute;

}

#block-menu-secondary-links ul li{
  list-style: none;
  float:left;
}

#block-menu-secondary-links ul li a {
  color: #999;
  display: block;
  font-size: 55%;
  text-decoration: none;
}

/*
  Sub menu
*/

#left .menu{

}

#left .menu li.active-trail{
  font-weight: bold;
}

#left .menu a:hover,
#left .menu a:focus{
  color: #47a9ac;
}

#left .menu .first{
}

#left .menu .last{
}

#left .menu a{
  text-decoration: none;
  color: #666;
}

#left .menu a.active{
  color: #47a9ac;
}

#left .menu ul{
}

#left .menu li{
  font-weight: normal;
}

#left .menu li ul{
}

#left .menu li li{
}

/*
  Page
*/

.page-inner {
  background-color: #fff;
  overflow: hidden;
  padding: 10px 0;
}

/*
  Spotboxes
*/

.nodespotbox h3 {
  background-color: #d2d2d2;
  line-height: 200%;
  padding: 0 0 0 20px;
}

.nodespotbox h3 a,
.nodespotbox h3 a:link,
.nodespotbox h3 a:visited,
.nodespotbox h3 a:hover,
.nodespotbox h3 a:active {
  color: #000;
  text-decoration: none;
}

