/*
  Font size
*/

body {
  font-family: arial, verdana, sans-serif;
  font-size: 100%;
  min-height: 100%;
  line-height: 1.125em;
}

h1 {
  font-size: 200%;
  line-height: 150%;
  margin: 0 0 15px;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}


#main {
  font-size: 0.875em;
}

#left,
#content-top,
#content,
#content-bottom,
#right {
  font-size: 0.75em;
}

/*
  Links
*/

a,
a:link {
  color: #00959a;
}

a:visited {
  color: #8931bb;
}

a:hover,
a:focus {
  color: #006467;
}

a:active {
  color: #47a9ac;
}
