input.form-checkbox,
input.form-radio {
  margin: 0 3px 0 0;
}

fieldset,
html.js fieldset.collapsed {
  height: auto;
}

fieldset,
fieldset legend,
html.js fieldset.collapsed {
  background-color: transparent;
}

#search-form input[type=submit] {
  background-position: 10px -296px;
  height: 31px;
  padding: 1px 20px 2px 30px;
}

.pane-field-news-titleimage {
  border: 1px solid #ddd;
  padding: 7px;
}